@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0; 
  background: #000;
}

.bg-grid {
  background-repeat: repeat-y; /* Repeat along the height */
  background-size: 100% auto; /* Take full width */
  background-position: center;
  transform: rotate(90deg); /* Rotate the SVG by 90 degrees */
}

.font-feature-disable {
  font-feature-settings: 'liga' off, 'clig' off;
}

.footer-links{
  background: rgba(255, 255, 255, 0.10);
}

.tf-hero {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.00) 64.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}